@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.menupic{
    height: 0px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: "roboto" , sans-serif;
    box-sizing: border-box;

}
a{
    text-decoration: none;
    color: inherit;
}

button:hover{
    cursor:grab;
}

.logo{
    font-weight: 700;
    margin-left: 110px;
}
.marki{
    font-family: "courgette" , sans-serif;
    background-color: #ffffff;
}
.donatebtn{
    margin-right: 110px;
    width: 115px;
    height: 43px;
    background-color: #1D2130;
    color: #ffffff;
    border-radius: 4px;
    border-color: #1D2130;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0 , 0.4);
    
}
.li1{
    margin-top: 16px;
    display: inline-block;
    margin-left: 40px;
}
.media{
    background-color: #FCEDC6;
    display: flex;
}
.mediah1{
    color: #1D2130;
    font-size: 56px;
    width: 496px;
    font-weight: 700;
    margin-top: 147px;
    margin-left: 206px;
}
.readmore{
    background-color: #f2c94c;
    width: 142px;
    height: 51px;
    border: none;
    border-radius: 4px;
    margin-left: 206px;
    margin-top: 50px;
}
.mediaimg{
    margin-left: 206px;
    width: 480px;
    height: 578.34px;
    margin-top: 56px;
    margin-bottom: 113px;
    border-radius: 20px;
}